APP_NAME=InstagramEP1
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://10.20.8.23:22222

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
CACHE_DRIVER=file

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
